body {
    margin: 0;
    background: #121213;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

.text-box {
    color: white;
    width:100%;
    margin: 0 auto;
    text-align: center;
}
.txt-box p {
    display: block;
    color: #d7dadc;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

select {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 2rem;
    cursor: pointer;
    background: #d3d6da;
    color: #000;
    font-weight: bold;
}

.start-btn {
    background-color: #6aaa64;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.15s ease
}

.start-btn:hover {
    background: #7bb775;
    transform: scale(1.10);
}
.start-btn:active {
    transform: scale(0.95);
}